

<!DOCTYPE html>

<html lang="en-US">
{% load staticfiles %}

<head>
  
  <title>Global Technologies Utd.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<link rel="stylesheet" href="{% static 'css/base.css' %}">




<button onclick="topFunction()" id="myBtn" title="Go to top">&#8248;<br>TOP</button>




<div class="jumbotron">


    <br /> <br /> <br /> <br /> <br /> <br /> <br />

    <div id="slider-content" class="container-full">
    <section class="container">

    <br />
    <header id="header">
    <div id="logo"><a href="/" title="Global Technologies Utd"><img src="" alt="Global Technologies Utd" border="0"/></a></div>


    <div id="menu">
    <br /> <br />

    <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
     
    <h1 class="menu-toggle">Primary Menu</h1>
    
    <div class="menu-main-menu-container"><ul id="menu-main-menu" class="nav-menu">
      



      <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a>Products</a>

        <ul class="sub-menu">
          <li><a href="/cctv">CCTV</a></li>
          <li><a href="/accessories">CCTV Accessories</a></li>

          <li><a href="/automation">Automation - home / gate</a></li>
      
          <li ><a href="/alarm">Intrusion Alarm</a></li>
          <li><a href="/biometric">biometric solutions</a></li>

          <li><a href="/stickers">Retro reflective stickers</a></li>
      
      </ul></li>

        <li><a href="/enquiry">Enquiry</a></li>
        <li><a href="/contact">Contact us</a></li>


    </ul></div></nav>
    </div>
    </header>
    </section>
    </div>

</div>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

{% block content %}
{% endblock content %}
</body>
</html>
