{% extends 'home/base.html' %}

{% block content %}






<br>

<section id="footer-wrapper" class="container-full">
 <div class="container">
<aside id="nav_menu-3" class="widget widget_nav_menu"><div class="menu-foot-menu2-container"><ul id="menu-foot-menu2" class="menu"><li id="menu-item-118" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-118"><a href="/">Home</a></li>
<br>

<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50"><a href="/about">About</a></li>
<br>
<li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="/cctv">Products</a></li>
<br>
<li id="menu-item-51" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51"><a href="/enquiry">Enquiry</a></li>
<br>
<li id="menu-item-122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-122"><a href="/contact">Contact us</a></li>
</ul></div></aside>




<aside id="text-4" class="widget widget_text"><h1 class="widget-title">Global Technologies Utd</h1>      <div class="textwidget">dcdc<br />cxcc<br />cxcxcc<br />cxcxc</div>
</aside>


<aside id="nav_menu-3" class="widget widget_nav_menu"><div class="menu-foot-menu2-container"><ul id="menu-foot-menu2" class="menu"><li id="menu-item-118" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-118"><a> </a></li>
<br>


</ul></div></aside>






<aside id="text-5" class="widget widget_text">      <div class="textwidget"><div id="phone">+91<br />+91<br />+91<br><br>tvkoluvan@gmail.com</div></div>
</aside>  <div class="clear"></div>
</div>
</section>




{% endblock content %}