{% extends 'home/base.html' %}

{% block content %}







<style>
.mySlides {display:none;}
</style>
<body>



<div class="w3-content w3-section" style="max-width:1500px">
  

  <img class="mySlides" src="/media/images/b.png" style="width:100%">
  <img class="mySlides" src="/media/images/a.jpg" style="width:100%">
  <img class="mySlides" src="/media/images/l.png" style="width:100%">
  <img class="mySlides" src="/media/images/k.png" style="width:100%">
  <img class="mySlides" src="/media/images/i.png" style="width:100%">
  <img class="mySlides" src="/media/images/d.png" style="width:100%">
  <img class="mySlides" src="/media/images/e.png" style="width:100%">
  <img class="mySlides" src="/media/images/m.png" style="width:100%">
  <img class="mySlides" src="/media/images/j.png" style="width:100%">
  <img class="mySlides" src="/media/images/g.png" style="width:100%">
  


</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>





{% endblock content %}