  .jumbotron {
      background-color: #E5050F;
      color: #fff;
  }


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;

}

#myBtn:hover {
  background-color: red;
}

html {
  overflow-y: scroll;
}
  body{ margin:0; padding:0; font:14px 'Open Sans',arial,sans-serif; line-height:22px; font-weight:400;}
.container{ margin:0 auto; width:1030px;}
.container-full{ margin:0 auto; width:100%;}

.left{ float:left;}
.right{ float:right;}
.clear{ clear:both;}


a{ text-decoration:none;}
h1, h2, h3, h4, ul, li{ margin:0; padding:0; list-style-type:none;}

.button{ font-size:14px; color:#fff; transition:all 0.2s; padding:8px 15px; display:inline-block; border-radius:2px; border:none; cursor:pointer; font:14px 'Open Sans',arial,sans-serif;}
.blue{ background-color:#2362c0; color:#fff;}
.yellow{ background-color:#fadd57; color:#222;}
.button:hover{ background-color:#3f87f3; color:#fff; transition:all 0.2s;}


#slider-wrapper{ position:relative;}
.bxslider-inner{ position:relative;}
.bxslider-inner img{ width:100%;}

#slider-content{ position:absolute; left:0; top:0; z-index:5;}

#header{ float:left; height:110px; width:100%;}
#logo{ float:left; width:20%; margin-right:5%; padding:17px 0 20px 0; background:#fff; -webkit-box-shadow:0px 9px 11px -7px #000; -moz-box-shadow:0px 9px 11px -7px #000; box-shadow:0px 9px 11px -7px #000; text-align:center; transition:all 0.2s;}
#menu{ float:right; width:75%;}
#nav{ text-align:right; color:#fff; margin:20px 0;}
#nav a, #nav span{ color:#fff; margin:0 3px; transition:all 0.2s;}
#nav a:hover{ transition:all 0.2s; text-decoration:underline;}

#main-nav{ background-color:#fc4234; -webkit-box-shadow:0px 9px 11px -7px #000; -moz-box-shadow:0px 9px 11px -7px #000; box-shadow:0px 9px 11px -7px #000; z-index:10;}
#main-nav ul{}
#main-nav ul li{ float:left; box-shadow:inset 0 0 1em #ec3021;}
#main-nav ul li ul li{ }
#main-nav ul li a{ color:#fff; font-weight:300; text-transform:uppercase; font-size:16px; float:right; display:block; padding:12px 10px; height:24px; transition:all 0.2s;}
#main-nav ul li a:hover, #main-nav ul li .active{ background-color:#3b3b3b; color:#ddd; box-shadow:inset 0 0 1em #000; transition:all 0.2s;}
#main-nav ul li .active:hover{ color:#fff;}









/**
 * 5.0 Navigation
 * -----------------------------------------------------------------------------
 */

.site-navigation ul {
  list-style: none;
  margin: 0;
}

.site-navigation li {
  
}

.site-navigation ul ul {
  margin-left: 20px;
}

.site-navigation a {
  color: #fff;
  display: block;
  text-transform: uppercase;
}

.site-navigation a:hover {
  color: #41a62a;
}

.site-navigation .current_page_item > a,
.site-navigation .current_page_ancestor > a,
.site-navigation .current-menu-item > a,
.site-navigation .current-menu-ancestor > a {
  color: #fff;
  font-weight: 900;
  transition:all 0.2s;
}

/* Primary Navigation */

.primary-navigation {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  font-size: 14px;
  padding-top: 24px;
}

.primary-navigation.toggled-on {
  padding: 72px 0 36px;
}

.primary-navigation .nav-menu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: none;
}

.primary-navigation.toggled-on .nav-menu {
  display: block;
}

.primary-navigation a {
  padding: 7px 0;
}

/* Secondary Navigation */

.secondary-navigation {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 12px;
  margin: 48px 0;
}

.secondary-navigation a {
  padding: 9px 0;
}

.menu-toggle {
  cursor: pointer;
  font-size: 0;
  height: 48px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  width: 48px;
}

.menu-toggle:before {
  color: #fff;
  content: "\f419";
  margin-top: 16px;
}



.content-sidebar .widget .widget-title {
  border-top: 5px solid #000;
  color: #2b2b2b;
  font-size: 14px;
  font-weight: 900;
  margin: 0 0 18px;
  padding-top: 7px;
  text-transform: uppercase;
}

.content-sidebar .widget .widget-title a {
  color: #2b2b2b;
}

.content-sidebar .widget .widget-title a:hover {
  color: #41a62a;
}










  /* Navigation */

  .site-navigation li .current_page_item > a,
  .site-navigation li .current_page_ancestor > a,
  .site-navigation li .current-menu-item > a,
  .site-navigation li .current-menu-ancestor > a {
    color: #fff;
  }

  /* Primary Navigation */

  .primary-navigation {
    float: right;
    font-size: 11px;
    margin: 0 1px 0 -12px;
    padding: 0;
    text-transform: uppercase;
    background-color:#fc4234;
    -webkit-box-shadow:0px 9px 11px -7px #000; 
    -moz-box-shadow:0px 9px 11px -7px #000;
     box-shadow:0px 9px 11px -7px #000;
     z-index:3; 
     text-align:right;
  }

  .primary-navigation .menu-toggle {
    display: none;
    padding: 0;
  }

  .primary-navigation .nav-menu {
    border-bottom: 0;
    display: block;
  }

  .primary-navigation.toggled-on {
    border-bottom: 0;
    margin: 0;
    padding: 0;
  }

  .primary-navigation li {
    border: 0;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    position: relative;
    box-shadow:inset 0 0 1em #ec3021;
    text-align:left;
  }

  .primary-navigation a {
    display: inline-block;
    padding: 0 25px;
    white-space: nowrap;
    font-size:16px;
  }


  .primary-navigation ul ul {
    background-color: #3b3b3b;
    float: left;
    margin: 0;
    position: absolute;
    top: 48px;
    left: -999em;
    z-index: 99999;
  }

  .primary-navigation li li {
    border: 0;
    display: block;
    height: auto;
    line-height: 1.0909090909;
    box-shadow:inset 0 0 1em #000;
  }

  .primary-navigation ul ul ul {
    left: -999em;
    top: 0;
  }

  .primary-navigation ul ul a {
    padding: 18px 12px;
    white-space: normal;
    width: 176px;
    
  }

  .primary-navigation li:hover > a, .primary-navigation li.current-menu-item, 
  .primary-navigation li.focus > a {
    background-color: #3b3b3b;
    box-shadow:inset 0 0 1em #000 !important;
    color: #fff;
    transition:all 0.2s;
  }
  
  .primary-navigation ul ul a:hover,
  .primary-navigation ul ul li.focus > a {
    background-color: #fc4234;
    box-shadow: 0 0 1em #EC3021 inset;
  }

  .primary-navigation ul li:hover > ul,
  .primary-navigation ul li.focus > ul {
    left: auto;
  }

  .primary-navigation ul ul li:hover > ul,
  .primary-navigation ul ul li.focus > ul {
    left: 100%;
  }

  .primary-navigation .menu-item-has-children > a,
  .primary-navigation .page_item_has_children > a {
    padding-right: 26px;
  }

  .primary-navigation .menu-item-has-children > a:after,
  .primary-navigation .page_item_has_children > a:after {
    -webkit-font-smoothing: antialiased;
    content: "\f502";
    display: inline-block;
    font: normal 8px/1 Genericons;
    position: absolute;
    right: 12px;
    top: 22px;
    vertical-align: text-bottom;
  }

  .primary-navigation li .menu-item-has-children > a,
  .primary-navigation li .page_item_has_children > a {
    padding-right: 20px;
    width: 168px;
  }

  .primary-navigation .menu-item-has-children li.menu-item-has-children > a:after,
  .primary-navigation .menu-item-has-children li.page_item_has_children > a:after,
  .primary-navigation .page_item_has_children li.menu-item-has-children > a:after,
  .primary-navigation .page_item_has_children li.page_item_has_children > a:after {
    content: "\f501";
    right: 8px;
    top: 20px;
  }
}








/**
 * 7.1 Widgets
 * -----------------------------------------------------------------------------
 */

/* Primary Sidebar, Footer Sidebar */

.widget {
  font-size: 14px;
  -webkit-hyphens: auto;
  -moz-hyphens:    auto;
  -ms-hyphens:     auto;
  hyphens:         auto;
  line-height: 1.6;
  margin-bottom: 48px;
  width: 100%;
  word-wrap: break-word;
}

.widget a {
  color: #FC4234;
}

.widget a:hover {
  color: #000;
}

.widget h1,
.widget h2,
.widget h3,
.widget h4,
.widget h5,
.widget h6 {
  margin: 24px 0 12px;
}

.widget h1 {
  font-size: 22px;
  line-height: 1.0909090909;
}

.widget h2 {
  font-size: 20px;
  line-height: 1.2;
}

.widget h3 {
  font-size: 18px;
  line-height: 1.3333333333;
}

.widget h4 {
  font-size: 16px;
  line-height: 1.5;
}

.widget h5 {
  font-size: 14px;
  line-height: 1.7142857142;
}

.widget h6 {
  font-size: 12px;
  line-height: 2;
}

.widget address {
  margin-bottom: 18px;
}

.widget abbr[title] {
  border-color: rgba(255, 255, 255, 0.7);
}

.widget mark,
.widget ins {
  color: #000;
}

.widget pre,
.widget fieldset {
  border-color: rgba(255, 255, 255, 0.2);
}

.widget code,
.widget kbd,
.widget tt,
.widget var,
.widget samp,
.widget pre {
  font-size: 12px;
  line-height: 1.5;
}

.widget blockquote {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 18px;
}

.widget blockquote cite {
  color: #fff;
  font-size: 14px;
  line-height: 1.2857142857;
}

.widget dl,
.widget dd {
  margin-bottom: 18px;
}

.widget ul,
.widget ol {
  list-style: none;
  margin: 0;
}

.widget li > ol,
.widget li > ul {
  margin-left: 10px;
}

.widget table,
.widget th,
.widget td {
  border-color: rgba(255, 255, 255, 0.2);
}

.widget table {
  margin-bottom: 18px;
}

.widget del {
  color: rgba(255, 255, 255, 0.4);
}

.widget hr {
  background-color: rgba(255, 255, 255, 0.2);
}

.widget p {
  margin-bottom: 18px;
}

.widget input,
.widget textarea {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 16px;
  padding: 1px 2px 2px 4px;
}

.widget input:focus,
.widget textarea:focus {
  border-color: rgba(255, 255, 255, 0.3);
}

.widget button,
.widget input[type="button"],
.widget input[type="reset"],
.widget input[type="submit"] {
  background-color: #fb4234;
  border: 0;
  font-size: 12px;
  padding: 8px 15px;
}

.widget input[type="button"]:hover,
.widget input[type="button"]:focus,
.widget input[type="reset"]:hover,
.widget input[type="reset"]:focus,
.widget input[type="submit"]:hover,
.widget input[type="submit"]:focus {
  background-color: #fb5934;
}

.widget input[type="button"]:active,
.widget input[type="reset"]:active,
.widget input[type="submit"]:active {
  background-color: #fb5934;
}

.widget .wp-caption {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 18px;
}

.widget .widget-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7;
  margin: 0 0 15px 0;
  text-transform: uppercase;
}

.widget-title,
.widget-title a {
  color: #fff;
}

.widget-title a:hover {
  color: #41a62a;
}





/**
 * 8.0 Footer
 * -----------------------------------------------------------------------------
 */

#supplementary {
  padding: 0 10px;
}

.site-footer,
.site-info,
.site-info a {
  color: rgba(255, 255, 255, 0.7);
}

.site-footer {
  background-color: #000;
  font-size: 12px;
  position: relative;
  z-index: 3;
}

.footer-sidebar {
  
}

.site-info {
  padding: 15px 10px;
}

#supplementary + .site-info {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.site-info a:hover {
  color: #41a62a;
}




#footer-wrapper .widget{ margin:0 !important; width:25%; float:left;}
#footer-wrapper .sub-menu { border:none !important;}








#footer-wrapper{ background-color:#E5050F; color:#bdc5d1; line-height:30px; padding:40px 0;}
#footer-wrapper ul{}
#footer-wrapper ul li{ float:left; width:100%; border:none;}
#footer-wrapper ul li h2{ font-weight:400;}
#footer-wrapper ul li a{ color:#bdc5d1 !important; display:block; text-transform:uppercase; font-size:12px; transition:all 0.2s;}
#footer-wrapper ul li a:hover{ color:#fff !important; transition:all 0.2s;}

#footer{ background-color:#0a0a0a; color:#3a3a3a; padding:15px 0;}











