{% extends 'home/base.html' %}

{% block content %}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/cctv1.css' %}">


<div class="asg">

  <div class="ase">
     &nbsp
  </div>



  <div class="asf">
  <br>
		<ul class="nav">

		<link rel="stylesheet" href="{% static 'css/cctv.css' %}">
		<li><a href="/cctv">CCTV</a> <span class="arrow"><a href="/cctv">»</a></span></li>
		<li><a href="/accessories">CCTV Accessories</a> <span class="arrow"><a href="/accessories">»</a></span></li>
		<li><a href="/mobile">Mobile DVR</a> <span class="arrow"><a href="/mobile">»</a></span></li>
		<li><a href="/automation">Automation</a> <span class="arrow"><a href="/automation">»</a></span></li>
		<li><a href="/alarm">Intrusion Alarm</a> <span class="arrow"><a href="/alarm">»</a></span></li>
		<li><a href="/biometric">Biometirc Solutions</a> <span class="arrow"><a href="/biometric">»</a></span></li>
		<li><a href="/gps">GPS</a> <span class="arrow"><a href="/gps">»</a></span></li>
		<li><a href="/stickers">Reflective Stickers</a> <span class="arrow"><a href="/stickers">»</a></span></li>
		</ul>
		<br>
		<br>
		<div class="ash">
			Have doubts...?
		</div>

		<br><br><br>

  </div>

</div>




  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>








  <a href="#" class="action-button shadow animate red">How</a>




{% endblock content %}





