{% extends 'home/base.html' %}

{% block content %}

{% load staticfiles %}


<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

<style>
       .nav {
  text-align: left;
  width: 234px;
  list-style: none;
  padding: 0px;
  position: relative;
  -webkit-box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.15);
}

.nav > li {
  width:210px;
  background: #FFFFFF;
  display: inline-block;
  font-size: 14px;
  
  cursor: pointer;
  font-weight: bold;
  border-bottom: 1px solid #DCDCDC;
}

.nav > li:hover {
  background: #E6E6E6;
  color: #1B75C4;
}

.nav > li > a {
  display: block;
  padding: 15px 15px 15px 15px;
}

.nav > li:nth-child(-n+3){
  border-left: 4px solid #FFC50A;
}

.nav > li:nth-child(-n+3):hover{
  border-left: 4px solid #cc9e08;
}

.nav > li:nth-child(n+4){
  border-left: 4px solid #74BF44;
}

.nav > li:nth-child(n+4):hover{
  border-left: 4px solid #5d9936;
}

.nav > li:nth-child(n+7) {
  border-left: 4px solid #0097D1;
}

.nav > li:nth-child(n+7):hover {
  border-left: 4px solid #0079a7;
}

.arrow {
  float: right;
  padding: 0px 10px
}


.ase{
  width: 1%;
  float: left;
}

.asf{
  width: 25%;
  float: left;
}

.asg{

}


.ash {
  width: 234px;
  height: 150px;
  padding: 20px;
  background: #f0f0f0;
  
  font: 400 27px/1.2 Lato, sans-serif;
    color: #000000;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, .5);
}

.asi{
  padding: 20px;
}

.asj {
  width: 69%;
  float: left;
}


.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;  
}



.red
{
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
}



.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}



</style>

<div class="asg">

  <div class="ase">
     &nbsp
  </div>



  <div class="asf">
  <br>
    <ul class="nav">

    
    <li><a href="/cctv">CCTV</a></li>
    <li><a href="/accessories">CCTV Accessories</a></li>
    <li><a href="/mobile">Mobile DVR</a></li>
    <li><a href="/automation">Automation</a></li>
    <li><a href="/alarm">Intrusion Alarm</a></li>
    <li><a href="/biometric">Biometirc Solutions</a></li>
    <li><a href="/gps">GPS</a></li>
    <li><a href="/stickers">Reflective Stickers</a></li>
    </ul>
    <br>
    <br>
    <div class="ash">
      Have queries..?
      <div class="asi"><a href="/enquiry" class="action-button shadow animate red">Click</a></div>
    </div>

    <br><br><br>

  </div>
  <br>
  <div class="asj"><h1>gi</h1></div>

</div>








{% endblock content %}





