
{% extends 'home/base.html' %}

{% block content %}







{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">

<script type="text/javascript" src="{% static 'js/about.js' %}" ></script>
    

<div class="container-full scroller">
<ul id="scroller">
    <li><img src="/media/images/mx.jpg" class="w3-image" height="75" width="179" alt="Axis Communication"></li>
    <li><img src="/media/images/3m.png" class="w3-image" height="75" width="130" alt="Honeywell"></li>
    <li><img src="/media/images/erd.png" class="w3-image" height="110" width="150" alt="L-1 Identity Solutions"></li>
    <li><img src="/media/images/time.jpg" class="w3-image" height="75" width="180" alt="Bosch Invented for life"></li>
    <li><img src="/media/images/one.png" class="w3-image" height="75" width="200" alt="EverFocus"></li>
    
    <li><img src="/media/images/av.gif" class="w3-image" height="75" width="180" alt="Matrix Security Solutions"></li>
    
    <li><img src="/media/images/atss.png" class="w3-image" height="55" width="180" alt="Matrix Security Solutions"></li>
    
    
 </ul>
 <div class="clear"></div>
</div>

<br>

<section id="footer-wrapper" class="container-full">
 <div class="container">
<aside id="nav_menu-3" class="widget widget_nav_menu"><div class="menu-foot-menu2-container"><ul id="menu-foot-menu2" class="menu"><li id="menu-item-118" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-118"><a href="/">Home</a></li>
<br>

<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50"><a href="/about">About</a></li>
<br>
<li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="/cctv">Products</a></li>
<br>
<li id="menu-item-51" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51"><a href="/enquiry">Enquiry</a></li>
<br>
<li id="menu-item-122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-122"><a href="/contact">Contact us</a></li>
</ul></div></aside>




<aside id="text-4" class="widget widget_text"><h1 class="widget-title">Global Technologies Utd</h1>      <div class="textwidget">Vyttila | Kochi | Kerala - 682019</div>
</aside>


<aside id="nav_menu-3" class="widget widget_nav_menu"><div class="menu-foot-menu2-container"><ul id="menu-foot-menu2" class="menu"><li id="menu-item-118" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-118"><a> </a></li>
<br>


</ul></div></aside>






<aside id="text-5" class="widget widget_text">      <div class="textwidget"><div id="phone">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&#9742; +91 9349292944<br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp+91 9349897770<br>business@globaltechnologiesutd.com</div></div>
</aside>  <div class="clear"></div>
</div>
</section>



{% endblock content %}

