





{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">

<script type="text/javascript" src="{% static 'js/about.js' %}" ></script>
    

<div class="container-full scroller">
<ul id="scroller">
    <li><img src="/media/images/mx.jpg" class="w3-images"  alt=""></li>
    <li><img src="/media/images/3m.png" alt=""></li>
    <li><img src="/media/images/erd.png" alt=""></li>
    <li><img src="/media/images/time.jpg" alt=""></li>
    <li><img src="/media/images/one.png" alt=""></li>
    
    <li><img src="/media/images/av.gif" alt=""></li>
    
    <li><img src="/media/images/atss.png" alt=""></li>
    
    
 </ul>
 <div class="clear"></div>
</div>

<br>

