{% extends 'home/base.html' %}

{% block content %}
{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/enquiry.css' %}"> 
<div class="mmm">  
  <form id="contact" action="" method="post">
  {% csrf_token %}
    <h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspQuick Contact</h3>
    <br>
    <fieldset>
      <input id="id_{{ form.name.name}}" name="{{ form.name.name}}" placeholder="Name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input id="id_{{ form.email.name}}" name="{{ form.email.name}}" placeholder="Email" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input id="id_{{ form.contact.name}}" name="{{ form.contact.name}}" placeholder="Mobile" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <textarea id="id_{{ form.address.name}}" name="{{ form.address.name}}" placeholder="Address" tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
    <fieldset>
      <textarea id="id_{{ form.enquiry.name}}" name="{{ form.enquiry.name}}" placeholder="Message / Enquiry" tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>


  
</div>



<section id="footer-wrapper" class="container-full">
 <div class="container">
<aside id="nav_menu-3" class="widget widget_nav_menu"><div class="menu-foot-menu2-container"><ul id="menu-foot-menu2" class="menu"><li id="menu-item-118" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-118"><a href="/">Home</a></li>
<br>


<li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="/cctv">Products</a></li>
<br>
<li id="menu-item-51" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51"><a href="/enquiry">Enquiry</a></li>
<br>
<li id="menu-item-122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-122"><a href="/contact">Contact us</a></li>
</ul></div></aside>




<aside id="text-4" class="widget widget_text"><h1 class="widget-title">Global Technologies Utd</h1>      <div class="textwidget">Vyttila | Kochi | Kerala - 682019</div>
</aside>


<aside id="nav_menu-3" class="widget widget_nav_menu"><div class="menu-foot-menu2-container"><ul id="menu-foot-menu2" class="menu"><li id="menu-item-118" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-118"><a> </a></li>
<br>


</ul></div></aside>






<aside id="text-5" class="widget widget_text">      <div class="textwidget"><div id="phone">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&#9742; +91 9349292944<br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp+91 9349897770<br>business@globaltechnologiesutd.com</div></div>
</aside>  <div class="clear"></div>
</div>
</section>


{% endblock content %}
